body {
	background-color: SeaGreen;
}

.text {
	background-color: white;
	border: solid;
	text-align: center;
	margin-top: 1em;
}

h1 {
	background-color: white;
	border: solid;
	text-align: center;
	margin-top: 1em;
}


#dropdown_style {
	margin: auto;
	max-width: fit-content;
	border: solid;
	display: block;
}

#submit_button_style {
	margin: auto;
	max-width: fit-content;
	border: solid;
	display: block;
	margin-bottom: 1em;
}

#result_style {
	margin: auto;
	max-width: fit-content;
	border: solid;
	display: block;
	background-color: white;
}