{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}page1{% endblock %}

{% block content %}
    <!--page content-->
	
	
	<h1>Highest Magnitude Earthquake in these places during 2016</h1>


	<form action="/showFact">
	  <select id="dropdown_style" name="location"> <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
		{{ earthquake_options }}
	  </select>
	  <br><br>
	  <input id="submit_button_style" type="submit" value="Get Earthquake Magnitude">
	</form>
	


{% endblock %}
