{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}page2{% endblock %}

{% block content %}
    <!--page content-->
	

<script>
window.onload = function () {
var points = [];


for (let mag of {{ magnitudes }} ) {
	points.push( { "x": new Date(mag.x), "y": mag.y} )
}

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "Earthquake Magnitude Over Time"
	},
	axisY: {
		title: "Earthquake Magnitude",
		valueFormatString: "0.00",
	},
	axisX: {
		title: "Date",
	},
	
	data: [{        
		type: "line",
      	indexLabelFontSize: 16,
		dataPoints: points
	}]
});
chart.render();

}
</script>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>


<p class="text"> The data shows that over time earthquakes have not gotten stronger or weaker so their their magnitude has not seem to increase or decrease in general. <p/>


{% endblock %}
